body, html {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 253, 229);
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 8% auto 8%;
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "nav footer footer"
    
}

header {
    grid-area: header;
    border: 1px solid rgb(222, 193, 249);
}

nav {
    grid-area: nav;
    border: 1px solid rgb(222, 193, 249);
}

main {
    grid-area: content;
    border: 1px solid rgb(222, 193, 249);
}

aside {
    grid-area: sidebar;
    border: 1px solid rgb(222, 193, 249);
}
footer {
    grid-area: footer;
    border: 1px solid rgb(222, 193, 249);
}
